/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-main: 'Source Sans 3', sans-serif;
  --font-monserrat: 'Montserrat', sans-serif;
  --text-color: #fff;
  --background: rgb(18 20 23 / 50%);
  --color-white: #fff;
  --color-red: #d33832;
  --color-red-hover: #d0201a;
  --color-green: #1fa84e;
  --color-green-hover: #0d8738;
  --color-orange: #e3861a;
  --color-orange-hover: #aa6311;
  --color-neutral-left: rgb(255 255 255 / 84%);
  --color-neutral-left-hover: rgb(255 255 255 / 95%);
  --color-neutral-right: rgb(18 19 20 / 68%);
  --color-blue: #246bfd;
  --color-blue-dark: #143f95;
  --color-grey: rgb(63 63 70);
  --color-purple: rgb(186 2 186);
  --color-purple-dark: rgb(147 2 147);
  --color-dark-button: rgb(18 19 20 / 68%);
  --color-error: rgb(243 18 96);
  --color-footer: rgb(255 255 255 / 4%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: var(--text-color);

  background: var(--background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-monserrat);
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;

  overflow: auto;

  border: none;
  outline: none;
  box-shadow: none;
}

svg {
  min-width: fit-content;
}

.layout {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;

  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 25px;
}
