.wrapper {
  display: flex;
}

.inputWrapp {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 5px 0 0;
}

.inputAction {
  display: none;
}

.btn {
  min-width: fit-content;
  padding: 0px 8px;
  user-select: none;

  & span {
    display: none;
  }
}

.more {
  display: block;
}

.moreBtn {
  background: #e3861a;
}

@media (min-width: 768px) {
  .inputWrapp {
    margin: 0 15px 0 0;
  }

  .inputAction {
    position: absolute;
    right: 0;
    display: flex;
  }

  .btn {
    display: flex;
    padding: 0 20px;

    & span {
      display: block;
    }
  }
}
