.textarea {
  padding: 18px 20px;
  flex-grow: 1;
  background: inherit;
  border: 2px solid #2d2e2e;

  min-height: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .textarea {
    min-height: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
}

.result {
  position: relative;
  min-height: 300px;
  max-height: 300px;

  @media (min-width: 768px) {
    min-height: calc(100vh - 290px);
    max-height: calc(100vh - 290px);
  }
}

.btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
