.main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contentWrapp {
  margin-top: 12px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.textareaLeft {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.send {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.send button:last-child {
  width: 100%;
}

@media (min-width: 400px) {
  .send button:last-child {
    width: 215px;
  }
}

@media (min-width: 768px) {
  .main {
    margin-top: 15px;
  }

  .contentWrapp {
    flex-direction: row;
  }

  .textareaLeft {
    width: 50%;
  }

  .send {
    display: none;
  }
}
