.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #1f2021;

  min-height: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.actions {
  width: 100%;
  padding: 13px 11px;
  display: flex;
  gap: 11px;
  border: 1px solid #2d2e2e;
}

.textarea {
  padding: 18px 20px;
  flex-grow: 1;
  background: inherit;
}

@media (min-width: 768px) {
  .main {
    width: 50%;
    min-height: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
}
