.container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 16px 16px;
}

.wrapper {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1240px;
  height: 56px;
  padding: 16px;
}
