.section {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 60px 0;

  border-top: 1px solid #202020;
  border-bottom: 1px solid #202020;

  @media (width <= 800px) {
    padding: 30px 0;
  }
}

.wrapp {
  display: flex;
  align-items: center;

  @media (width <= 800px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.link {
  display: block;

  min-width: 220px;
  height: 80px;

  background-image: url("../../../assets/rsschool-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: all 0.3s ease;

  &:hover {
    background-image: url("../../../assets/rsschool-icon-active.svg");
  }

  @media (width <= 800px) {
    margin-bottom: 20px;
  }
}

.text {
  max-width: 800px;
  margin: 0 0 0 40px;
  padding: 0 0 0 40px;

  font-size: 28px;

  border-left: 1.5px solid rgb(255 255 255 / 12%);

  @media (width <= 800px) {
    margin: 0;
    padding: 0;
    font-size: 18px;
    border-left: none;
  }
}
